In [14]:
from sklearn.cluster import KMeans
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import cdist


import pandas as pd

data_vectors = pd.read_csv('M.csv', index_col=0).values.T

# Obliczanie macierzy podobieństwa cosinusowego
cosine_sim_matrix = cosine_similarity(data_vectors)

# Przekształcenie podobieństwa na odległość
cosine_dist_matrix = 1 - cosine_sim_matrix

# Klastrowanie
kmeans = KMeans(n_clusters=5, random_state=0)
clusters = kmeans.fit_predict(cosine_dist_matrix)

# Wyniki
print(clusters)

/home/amso/.local/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

[3 3 3 ... 0 2 1]

In [15]:
df = pd.read_csv('M.csv', index_col=0)

In [16]:
df.head()

,SP117655,SP117556,SP117627,SP117775,SP117332,SP117712,SP117017,SP117031,SP117759,SP117621,...,SP94540,SP95222,SP89389,SP90503,SP92460,SP92931,SP91265,SP89909,SP90629,SP95550
ACA,292,102,98,198,46,183,95,194,268,183,...,153,250,89,100,254,100,387,85,161,170
ACC,148,54,54,106,26,134,78,98,125,101,...,76,129,49,55,146,52,190,72,118,87
ACG,32,11,11,22,5,52,17,21,24,21,...,16,28,10,12,29,11,41,13,25,19
ACT,155,54,53,105,25,104,58,103,132,98,...,81,131,47,53,205,54,204,100,80,90
CCA,213,73,70,142,33,126,31,142,264,131,...,112,181,64,72,180,73,283,52,105,123

In [17]:
cosine_similarity(df[['SP117655', 'SP95550']].values.T)

array([[1.        , 0.98221014],
       [0.98221014, 1.        ]])

In [18]:
df[['SP117655', 'SP95550']].to_csv('M2.csv')

In [19]:
cosine_similarity(df[['SP117556', 'SP117627']].values.T)

array([[1.        , 0.94001859],
       [0.94001859, 1.        ]])

In [20]:
df[['SP117556', 'SP117627']].to_csv('M1.csv')

In [21]:
import pandas as pd 

samples = pd.read_csv('/home/amso/data_comparation/pythonProject/data/WGS-decomposition__PCAWG_sigProfiler_SBS_signatures_in_samples.csv')
samples.head()

,Cancer Types,Sample Names,Accuracy,SBS1,SBS2,SBS3,SBS4,SBS5,SBS6,SBS7a,...,SBS51,SBS52,SBS53,SBS54,SBS55,SBS56,SBS57,SBS58,SBS59,SBS60
0,Biliary-AdenoCA,SP117655,0.968,1496,1296,0,0,1825,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Biliary-AdenoCA,SP117556,0.963,985,0,0,0,922,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Biliary-AdenoCA,SP117627,0.973,1110,528,0,0,1453,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Biliary-AdenoCA,SP117775,0.987,1803,1271,0,0,2199,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Biliary-AdenoCA,SP117332,0.987,441,461,0,0,840,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
samples[samples['Sample Names']=='SP92931'].to_csv('test.csv')

In [23]:
!open .

In [24]:
samples.tail()

,Cancer Types,Sample Names,Accuracy,SBS1,SBS2,SBS3,SBS4,SBS5,SBS6,SBS7a,...,SBS51,SBS52,SBS53,SBS54,SBS55,SBS56,SBS57,SBS58,SBS59,SBS60
2775,Uterus-AdenoCA,SP92931,0.978,1001,0,0,0,788,0,0,...,0,0,0,0,0,0,0,0,0,0
2776,Uterus-AdenoCA,SP91265,0.962,1300,0,0,0,1108,0,0,...,0,0,0,0,0,0,0,0,0,0
2777,Uterus-AdenoCA,SP89909,0.990,2508,0,0,0,6908,0,0,...,0,0,0,0,0,0,0,0,0,0
2778,Uterus-AdenoCA,SP90629,0.995,1029,7017,0,0,10940,0,0,...,0,0,0,0,0,0,0,0,0,0
2779,Uterus-AdenoCA,SP95550,0.985,837,578,0,0,1434,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
samples[samples['Sample Names']=='SP117655']['SBS1']

0    1496
Name: SBS1, dtype: int64

In [43]:
samples[samples['Sample Names']=='SP117655']['SBS40']

0    9477
Name: SBS40, dtype: int64

In [44]:
temp = samples[samples['Sample Names']=='SP95550']
non_zero_columns = temp.loc[:, (temp != 0).all()]

In [45]:
non_zero_columns

        Cancer Types Sample Names  Accuracy  SBS1  SBS2  SBS5  SBS13  SBS40
2779  Uterus-AdenoCA      SP95550     0.985   837   578  1434    901   5319

In [42]:
samples.columns[3:][44]

'SBS40'

In [27]:
samples.tail()

,Cancer Types,Sample Names,Accuracy,SBS1,SBS2,SBS3,SBS4,SBS5,SBS6,SBS7a,...,SBS51,SBS52,SBS53,SBS54,SBS55,SBS56,SBS57,SBS58,SBS59,SBS60
2775,Uterus-AdenoCA,SP92931,0.978,1001,0,0,0,788,0,0,...,0,0,0,0,0,0,0,0,0,0
2776,Uterus-AdenoCA,SP91265,0.962,1300,0,0,0,1108,0,0,...,0,0,0,0,0,0,0,0,0,0
2777,Uterus-AdenoCA,SP89909,0.990,2508,0,0,0,6908,0,0,...,0,0,0,0,0,0,0,0,0,0
2778,Uterus-AdenoCA,SP90629,0.995,1029,7017,0,0,10940,0,0,...,0,0,0,0,0,0,0,0,0,0
2779,Uterus-AdenoCA,SP95550,0.985,837,578,0,0,1434,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
temp = samples[samples['Sample Names']=='SP117655']
temp.loc[:, (temp != 0).all()]

      Cancer Types Sample Names  Accuracy  SBS1  SBS2  SBS5  SBS13  SBS40
0  Biliary-AdenoCA     SP117655     0.968  1496  1296  1825    806   9477

In [52]:
temp = samples[samples['Sample Names']=='SP95550']
temp.loc[:, (temp != 0).all()]

        Cancer Types Sample Names  Accuracy  SBS1  SBS2  SBS5  SBS13  SBS40
2779  Uterus-AdenoCA      SP95550     0.985   837   578  1434    901   5319